h1{
    background-color: blue;
    color: rgb(245, 250, 245);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    font-weight: 100;
    text-decoration:line-through;
    height: 100px;
    width: 600px;
}